@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/Filament/**/*.php';
@source '../../vendor/filament/**/*.blade.php';

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-dmsans: 'DM Sans', sans-serif;
}
